name: Create and publish Docker image
on: [push]

jobs:
  publish-docker-pytest-image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          # Docker images to use as base name for tags
          images: ghcr.io/kjetpett/docker_pytest
          flavor: latest=true
          # generate Docker tags based on the following events/attributes
          tags: |
            type=schedule
            type=ref,event=branch
            type=ref,event=tag
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

        # - name: Build the hello-docker Docker image and push it
        #   uses: docker/build-push-action@v3
        # run: |
        #   docker build . --tag ghcr.io/kjetpett/docker_pytest:latest
        #   # docker run ghcr.io/kjetpett/docker_pytest:latest
        #   docker push ghcr.io/kjetpett/docker_pytest:latest

      - name: Build and push Docker images
        uses: docker/build-push-action@v3
        env:
          REGISTRY: ghcr.io
          IMAGE_NAME: ${{ github.repository }}
        with:
          context: .
          file: ./Dockerfile
          target: final
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
